.flex-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 17px;
    
}

.flex-grid-item {
    overflow-y: scroll;
}

.flex-grid-item img {
    position: absolute;
    width: 100%;
    object-fit: contain;
}

main {
    padding: 10px;
}

.fundraising-nav {
    border: 4px double white;
    font-family: 'Brush Script MT', cursive;
    box-shadow: 0 0 5px white;
    padding: 10px;
}
.fundraising-nav h2 {
    font-size: 2.5em;
    color: plum;
    text-shadow: plum 1px 0 10px;
}
.fundraising-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fundraising-nav-item {
    font-size: 1.75em;
    padding: 3px;
    color: gray;
    transition: all 0.5s;
}
.fundraising-nav-item:hover {
    /* background-color: white; */
    font-size: 1.8em;
    transform: translate(5px, 5px);
    color: white;
    text-shadow: white 0 0 1em;
}
.fundraising-nav-item a {
    text-decoration: none;
    color: inherit;
}

.transparent-bg::before { 
    background-image: url('../images/background_images/softball_field_2.jpg');
}