/* 
main {
    position: relative;
    padding: 10px 70px;
}


.player-card {
    border: 8px solid lightgray;
    border-style: double;
    background: white;
}

.player-name {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    bottom: 15%;
    left: 48%;
    right: 50%;
    z-index: 1;
}

.player-position {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    bottom: 8%;
    left: 50%;
    z-index: 1;
}

.player-picture {
    position: relative;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.player-card-container {
    position: relative;
    flex-basis: calc(100% / 6);
    border: 1px solid black;
    box-sizing: border-box;
}

@media screen and (max-width:1080px) {
    .player-card-container {
        flex-basis: calc(100% / 5);
    }
}

@media screen and (max-width:990px) {
    .player-card-container {
        flex-basis: calc(100% / 4);
    }
}

@media screen and (max-width:795px) {
    .player-card-container {
        flex-basis: calc(100% / 3);
    }
}

@media screen and (max-width:575px) {
    .player-card-container {
        flex-basis: calc(100% / 2);
    }
}


body::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .55;
    background-image: url('../images/background_images/Daygame_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

main {
    position: relative;
    width: 100%;
    height: 100%;
}


.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 17px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.baseball-card {
    width: 33%;
    height: 100%;
}

.baseball-card-back {
    width: 75%;
    background: white;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin: auto;
    color: white;
    overflow-y: scroll;
    background: rgba(100, 100, 255, 0.5);
}

.baseball-card-back p {
    padding: 10px;
    font-size: .9em;
}

.transparent-bg::before { 
    background-image: url('../images/background_images/Daygame_background.jpg');
}

body {
    row-gap: 10px;
}